appdirs
astropy
autopep8
babycenterdb
backports.tarfile
bertopic
bottleneck
brotli
bs4
colorama
conda-build
conda-repo-cli
conda-token
dash
dash-bootstrap-components
dash-extensions
dask-expr
datashader
distributed
dmglib
evaluate
faiss-cpu
fast-sentence-transformers
flake8
gensim
greenlet
gunicorn
h5py
heapdict
httptools
hvplot
imagecodecs
imbalanced-learn
ipython-genutils
jaraco.collections
jupyter
kaleido
langchain-benchmarks
langchain-chroma
langchain-experimental
langchain-graph-retriever
langchain-huggingface
langgraph
lckr-jupyterlab-variableinspector
lmdb
lz4
mypy
navigator-updater
nltk
onnx
openpyxl
pip-chill
poetry
pycurl
pydocstyle
pyodbc
pysocks
pywavelets
rope
ruamel-yaml-conda
s3fs
scikit-image
scrapy
seaborn
shifterator
sip
spyder
statsmodels
streamlit-authenticator
tables
textacy
unicodedata2
unidecode
uvloop
watchfiles
websockets
whatthepatch
xlwings
yapf